.title_background {
	background-image: url("../images/sunset.jpg");
	background-size: 150px;
}

.name {
	text-align: center;
	font-size:150px;
	color:beige;
	font-family: Ubuntu Condensed;
}


.profilepic {
	display: block;
	width: 30%;
	margin: auto;
}

#About-Me { 
	background-color:#AA5042 ;
	font-family: Poppins;
}

.about-me {
	text-align: center;
	font-size: 60px;
	border-style: solid;

}

#Projects {
	background-color: #DCCCA3;
	text-align: center;
	font-family: Poppins;
}

.project-name {
	text-align: center;
	font-size:60px;
	border-style: solid;
}

.intro {
	text-align: center;
}

#connections {
	background-color:#A18276;
	text-align: center;
	font-family: Poppins
}

.connections-name {
	text-align: center;
	font-size: 60px;
	border-style: solid;
}
